<!DOCTYPE html>
<!--
La expresión th:action="@{/saludo}" dirige el formulario a realizar una solicitud POST al endpoint /saludo, 
mientras que la expresión th:object="${saludo}" declara el objeto del modelo que se utilizará para recopilar 
los datos del formulario. Los dos campos del formulario, expresados ​​con th:field="*{id}" y th:field="*{content}", 
corresponden a los campos del objeto Saludo.
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head> 
        <title>Capturando los datos</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Form</h1>
        <form action="#" th:action="@{/saludo}" th:object="${saludo}" method="post">
            <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
            <p>Mensaje: <input type="text" th:field="*{contenido}" /></p>
            <p><input type="submit" value="Enviar" /> <input type="reset" value="Limpiar" /></p>
        </form>
    </body>
</html>